<div class="hero">
  <br /><br /><br /><br /><br /><br /><br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h1>Start learning with the pros.</h1>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>